.steam-profile-games {
	margin: 0 auto;
	box-sizing: border-box;
	display: flex;
	max-width: 560px;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	border: 2px solid #000;
	background: #6c757d;
	color: #ffc107;
}	
.steam-profile-games div {
	flex-basis: 25%;
}
